BasedOnStyle: Google
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BreakBeforeBraces: Custom
IndentAccessModifiers: true
IndentExternBlock: Indent
IndentPPDirectives: BeforeHash
IndentWidth: 4
NamespaceIndentation: All
TabWidth: 0
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeElse: true
  SplitEmptyFunction: false
