[submodule "external/lua"]
	path = external/lua
	url = https://github.com/LuaDist/lua.git
[submodule "external/freetype2"]
	path = external/freetype2
	url = https://git.sv.nongnu.org/r/freetype/freetype2.git
