[submodule "external/lua"]
	path = external/lua
	url = https://github.com/LuaDist/lua.git
[submodule "external/freetype2"]
	path = external/freetype2
	url = https://git.sv.nongnu.org/r/freetype/freetype2.git
[submodule "source/test/external/googletest"]
	path = source/test/external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
